# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

Controlador/Ingreso/documentosEstudiantes/

Controlador/ConsultasReportes/PDF_MC_Table\.php

public/ArtistaFormador/pdf_codigo_verificacion/

Modelo/medoo/parametros_conexion\.php

public/GestionClan/documentacionCREA/

src/Administracion/archivos/

uploadedFiles/

Node/node_modules/
public/Organizaciones/documentosOrganizaciones/
*.log

sftp-config\.json

# framework/

framework/config/app.php

framework/public/js/administracion/app.js

*.code-workspace
framework/public/js/cdm/app.js

framework/public/js/culturas/app.js

framework/public/js/app.js

framework/public/js/organizaciones/app.js

framework/public/js/nidos/app.js
