body{
  font-family: 'Droid Serif', serif;
  font-size: 14px;
  color: #2f2f2f;
}
.header{
  font-family: 'Prompt';
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 100%;
  background-color: #009f99;
  color: white;
}
.header-middle{
  font-family: 'Prompt';
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 50%;
  background-color: #009f99;
  color: white;
}
div{
  font-family: 'Prompt';
  font-size: 14px;
}
.div-content{
  border-style: ridge;
  text-align:right;
}
p{
  margin-top: 0;
  margin-bottom: 20px;
}
.head{
  text-align: center;
  position: relative;
}
.item .thumb {
  width: 20%;
  cursor: pointer;
  float: left;
}
.item .thumb img {
  width: 100%;
  margin: 2px;
}
.item img {
  width: 70%;
  margin-left: 15%;
}
.col-centered{
  float: none;
  margin: 0 auto;
}
.item .thumb{
  margin: 0 0.3em;
  width: 18%;
}
.carousel{
  box-shadow: 0px 0px 15px 0px;
  margin: 0.5em 0 1.5em 0;
}
#map {
  height: 400px;
  width: 100%;
}
.a-edit, .a-save{
  float: right;
  color: white;
  margin: 3px;
}
.a-plus, .a-minus{
  float: right;
  color: white;
  margin: 3px;
}
.a-plus:hover, .a-minus:hover{
  color: #00e400;
}
.a-edit:hover{
  color: yellow;
}
.a-save:hover{
  color: #00e400;
}
.input-edit{
  display: inline-block;
  background: rgba(0,0,0,0) !important;
  border: none;
  box-shadow: none !important;
}
.input-edit:focus{
  box-shadow: none !important;
  border-color: transparent !important;
  border-style: none !important;
}
#chartdiv_areas_artisticas {
  width   : 50%;
  height    : 500px;
  font-size : 11px;
}
#chartdiv_emprende_crea {
  width : 50%;
  height  : 400px;
}