img {
	max-width:100%;
}
/* centered columns styles */
.row-centered {
	text-align:center;
}
.col-centered {
	display:inline-block;
	float:none;
	/* reset the text-align */
	text-align:right;
	/* inline-block space fix */
	margin-right:-4px;
}
hr { 
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 2px;
}
th { font-size: 12px; }
td { font-size: 11px; }
.center-modal{
	top: 0%;
	margin-top: 15%;
}
p{
	font-family: 'Prompt';
	font-size: 14px; 
}
#container {
	height: 400px; 
	min-width: 310px; 
	max-width: 800px;
	margin: 0 auto;
}
.hidden{
	display: none!important;
}
@media screen and (min-width: 768px) {
	.modal-lg{
		width:95%;
	}

	.modal-sm{
		width:300px;
	}
}
.ui-autocomplete {
	max-height: 300px;
	width: 800px;
	right: 20px !important;
	left: unset !important;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: auto;
	font-size: 12px;
}
.toggle{
	float: right;
}
textarea {
	resize: vertical;
}
.modal-body {
	min-height: 0px !important;
}
.ui-helper {
	padding: 50px;
}
.modal {
	text-align: center;
	padding: 0!important;
}

.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	}​